<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Flask Plotlyjs Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="line"></div>
    <script>
        var url = "/api/v1.0/line";
        Plotly.d3.json(url, function(error, response) {
            if (error) return console.warn(error);

            var data = response;
            Plotly.plot("line", data);
        });
    </script>
</body>
</html>
